/* variable-start */
:root {
    --bg-color-primary: #0F0F0F;
    --bg-color-secondary: #FFFFFF1A;
    --border-color-primary: #FFFFFF4D;
    --text-color-primary: #ffffff;
    --shadow-color-primary: #FFFFFF33;
}

/* variable-end */



/* body-start */
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: var(--bg-color-primary);
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 1.5;
}

/* body-end */

/* common-style-start */
.body-style {
    background-color: var(--bg-color-secondary);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(15px);
    border: var(--border-color-primary) solid 1px;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--shadow-color-primary);
}

/* common-style-end */



/* nav-bar-style-start */
.navbar-brand,
.nav-link {
    color: var(--text-color-primary);
    transition: transform 0.3s ease;
}

.navbar-brand:hover,
.nav-link:hover {
    color: var(--text-color-primary);
    transform: scale(1.3);
}

.navbar-toggler {
    background: transparent;
    border: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.form-control{
    border-radius: 20px;
}

.btn-nav {
    border: var(--border-color-primary) solid 1px;
    border-radius: 20px;
    background-color: var(--bg-color-secondary);
    color: var(--text-color-primary);
}

/* nav-bar-style-end */



/* login/sign-in-style-start */

/* login/sign-in-body-style-start */
.login-body-container-style,
.sign-in-body-container-style {
    margin-top: 5%;
    background: var(--bg-color-secondary);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid var(--border-color-primary);
}

.form-control:focus {
    box-shadow: none;
    border-color: #ccc;
    outline: none;
}

.form-label,
.login-heading,
.sign-in-heading,
.form-check-label {
    color: var(--text-color-primary);
}

.form-control {
    border-radius: 20px;
}

.btn-login {
    border: var(--border-color-primart);
    border-radius: 20px;
    width: 40%;
    color: var(--bg-color-primary);
    font-size: 20px;
    transition: box-shadow 0.3s ease;
}

.btn-login:hover {
    box-shadow: 0px 0px 30px var(--border-color-primary);
}

.forget-a-tag {
    color: var(--text-color-primary);
    transition: box-shadow 0.3s ease;
}

.forget-a-tag:hover {
    text-shadow: 0px 0px 30px var(--border-color-primary);
}

.login-span {
    font-size: 13px;
}

.btn-social-login {
    border-radius: 20px;
}

/* login/sign-in-body-style-end */

/* login/sign-in-style-end */



/* home-page-style-start */

/* carousel-style-section-start */
.home-carousel-img-style {
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 20px;
}

.home-carousel-heading-style {
    color: var(--text-color-primary);
}

/* carousel-style-section-start */

/* features-section-section-start */
.features-card-style {
    color: var(--text-color-primary);
    transition: transform 0.3s ease;
}

.features-card-style:hover {
    transform: translateY(-5px);
}
/* features-section-section-end */

/* home-page-style-end */



/* body-section-start */

/* body-left-section-start */
.post-list-left-body-style{
    max-height:750px;
}
/* body-left-section-end */

/* body-middle-section-start */

/* body-middle-section-end */

/* body-right-section-start */
.post-list-right-body-style{
    max-height: 750px;
}
/* body-right-section-end */

/* body-section-end */



/* footer-section-start */
.footer-container-style {
    color: var(--text-color-primary);
}
/* footer-section-end */