:root {
    --bg-color-primary: #C4C4C3;
    --bg-color-seconadry: #EB4425;
    --text-color-primary: #000000;
    --text-color-secondary: #ffffff;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color-primary);
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* home-page-style-start */

/* home-nav-section-style-start */
.navbar-nav {
    margin-left: 25%;
}

.nav-selector {
    margin-top: auto;
    margin-bottom: auto;
}

/* home-nav-section-style-end */

/* home-hero-section-style-start */
.home-hero-btn {
    background-color: var(--bg-color-seconadry);
    color: var(--text-color-secondary);
    border: 1px soild var(--text-color-primary);
}

/* home-hero-section-style-start */

/* home-page-style-end */


/* signin-page-style-start */

.sign-in-up-card {
    /* height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
}

/* signin-page-style-end */


/* employee-page-style-start */
.employer-profile-img{
    width: 100px;
    height: 100px;
    top: 100%;
    left: 10%;
}
/* employer-page-style-end */